@media (width < 780px)
{
    .rocket-welcome{
    width: 100%;
        p{
            font-size:1em;
        }
    }
    .modos {
         grid-template-columns:1fr;
         grid-template-rows: repeat(4,30%);
         grid-template-areas:  
        "unovsuno"
        "dosvsdos"
        "tresvstres"
        "cuatrovscuatro";

        .modo1{
            flex-direction: column;
            justify-content:left ;
            align-items: left;
            
            img
            {width: 100%;}
            p{
                width: 100%;
                padding-left:0;
            }
        }
    }
        .nueva-temp{
            flex-direction: column;
            align-items:center;
                 figure{
                    width: 100%;
                    align-items:center;}
}
.p-nueva-temp{width: 100%;
        p{
        font-size: 2em;
        }
    }
    .img-404{
        width:100%;
        padding-left:0em;
}
.cards-coches {
    display:flex;
    flex-direction: column;
    width: 100%;}
}



@media (width < 400px){

     .rocket-welcome p {
         color: rgb(40, 37, 101);
         font-weight:100;
         font-size: 1em;}

    h1, h2, h3 {
        font-size: 20px;
        font-weight:bold
    }
    .modos .modo1 {
        padding: 10px; 
        img
        {width: 100%
        }
        p{
        font-size: 1em
        }
    }

    }
    .modos .modo2{
        padding: 10px; 
        img{
            width: 100%
        }
        p{
            font-size: 20px
        }
    }
    .modos .modo3{
         padding: 10px; 
         img
         {width: 100%}
        p{
            font-size: 20px}
        }
    .modos .modo4{
        padding: 10px;}
        img
        {width: 100%}
        p{
         font-size: 20px}

.nueva-temporadaa{
    flex-direction: column;
    align-items:center;
    figure{
        width: 100%;
        align-items:center;
    }
}
.p-nueva-temp{width: 100%;
    p{
    font-size: 1em;
    }

    
.nav-estilo img{
        width: 15em;
        border-radius: 10px;}

    .img-404{
        width:100%;
        padding-left:0em;}
    
    .cards-coches {
            display:flex;
            flex-direction: column;
            width: 100%;}

    }
    
