$mainFont:'Lato', sans-serif;

body{
    background-image:url(../img/backkkk.jpg);
    background-repeat:round;
    background-attachment:fixed;
}

    h1{
        color: $textColor;
        font-size: $textXL;
        text-align: center;
        margin: 20px

    }

h2, h3{
        color: $textColor;
        font-size: $textMD;
        text-align: center;
    }

.main-img{
        width: 100%;
    padding-top: 20px;}

.rocket-welcome{
            background-color:$liColor;
            width: 50%;
            height: auto;
            margin: auto;
            padding: 10px 20px;
            display: flex;

                p{
                color:$textColor;
                font-weight:$textReg;
                font-size:$textMD;
                }
}

.button-404{
    background-color:$liColor;
    border: none;
    color: rgb(51, 70, 50);
    padding: 6px;
    border-radius: 10px;
    margin-top: 10px;
    &:hover{
        background-color: rgb(41, 187, 107);
        cursor:pointer;
    }

.p-nueva-temp{
    display: flex;
    flex-direction: row;
    justify-content:right;
    width: 90%;
    margin: auto;
    height:auto;
    background-color: $liColor;
    padding-left: 10px;
    
    
    p{
        padding: 10px;
        text-align: left;
        font-size: $textMD;
        font-weight: $textLite;
        color: $textColor;
    }
    
}}

     //----footer----//

footer{
        background-color: $bgColor;
        padding: 10px 30px;
        display:flex;
        flex-direction: row;
        align-items:center ;
        justify-content: space-between;
            ul{
                list-style:none;
                display:flex;
                flex-direction: column;
                color: $liColor;
            
                li  
                    {&:hover{
                    background-color:$liColor;
                    cursor:pointer;
                    }
                }
                    a{text-decoration: none;
                    color:aqua}
            }

            svg {
            fill: aqua;
            margin-left: 10px;}
 }
        
        
//......form.......//
.formulario-contacto label{
    color: rgb(36, 20, 124);
    font-weight:bold;
    legend{
        color: rgb(36, 20, 124);
        font-weight:bold;
    }
}
.btn-tuneado{
    color:rgb(26, 25, 25);
    background-color: rgb(53, 127, 155)
    ;
    border-color: rgb(20, 21, 21);
    &:hover{
        background-color: rgb(21, 179, 39);
        color: black;  }
    display: flex;
    margin-left: 35em;
    
}



    .img-404{
    width:50%; 
    display:flex;
    flex-direction: column;
    align-items:center;
    padding-left: 8em;
    padding-top: 2em;
     
        img{
            border-radius: 20px;
        }
    } 

    .cards-coches {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 6px;
        padding-right: 6px;


        .card-body{
            background-color: aquamarine;
        }
        .card-text{
            text-align: center;
        }
    
        .transform:hover{
            transform: translate(-10px, -10px);
            cursor: pointer;
            transition: all 1s}
    
    }