//colores
$textColor:rgb(36, 20, 124);
$bgColor:rgb(20, 69, 102);
$liColor: rgb(126, 209, 185);

//fonts
$mainFont:'Lato', sans-serif;
$textXL:3em;
$textMD:2em;
$textReg:500;
$textLite:300;
$textBold:600;

