@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    *{font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    

body{
    background-image:url(./img/backkkk.jpg);
    background-repeat:round;
    background-attachment:fixed;
}

h1 {
        color: rgb(16, 57, 90);
        font-size: 3em;
        text-align: center;
        margin: 20px
    }
h2 {
        color: rgb(36, 20, 124);
        font-size: 2em;
        text-align: center;
        margin: 20px;}
        
h3 {   
    color: rgb(36, 20, 124);
    font-size: 2em;
    text-align: center;
}
.main-img{
    width: 100%;
    
}

.nav-estilo img{
    width: 20em;
    border-radius: 10px;
    
}
.nav-estilo{
    background-color:rgb(20, 69, 102) ;
}
.nav-estilo ul li a{
    font-size: 20px;
   color: rgb(126, 209, 185);
   margin-right: 4em;
    }

.nav-estilo ul li a:hover{
        background-color: rgb(83, 197, 189);
        cursor:pointer;
       }
.nav-estilo button{
    color: rgb(126, 209, 185);
    border-color: rgb(126, 209, 185)
}
.nav-estilo button:hover{
    background-color: rgb(83, 197, 189);
    color: black;  
}
.nav-estilo input{
   border-style:hidden;
    background-color: rgb(135, 204, 209);
     
} 

.formulario-contacto label{
    color: rgb(36, 20, 124);
    font-weight:bold;
}
.formulario-contacto legend{
    color: rgb(36, 20, 124);
    font-weight:bold;
}
.btn-tuneado{
    color:rgb(26, 25, 25);
    background-color: rgb(53, 127, 155)
    ;
    border-color: rgb(20, 21, 21)
}
.btn-tuneado:hover{
    background-color: rgb(21, 179, 39);
    color: black;  }

    .carousel-style{
        display: flex;
        width: 100%;
        
        
    }

    .rocket-welcome{
        background-color: rgb(77, 177, 177);
        width: 50%;
        height: auto;
        margin: auto;
        padding: 10px 20px;
        display: flex;
    }
    .rocket-welcome p{
        color: rgb(40, 37, 101);
        font-weight: 700;
        font-size: 2em;
    }

    .nueva-temp{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nueva-temp figure{
        width: 24%;
        padding: 1em;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        border-radius: 10px;
    }
    .nueva-temp figure img{
        width: 100%;
        border-radius: 10px;
        
    }
    .nueva-temp figure figcaption{
        font-weight: bold;
        font-size: 30px;
        color: rgb(41, 130, 100);
    }
    .nueva-temp figure button{
        background-color:rgb(110, 159, 159);
        border: none;
        color: rgb(51, 70, 50);
        padding: 6px;
        border-radius: 10px;
        margin-top: 10px;}

    .nueva-temp figure button:hover{
            background-color: rgb(41, 187, 107);
            cursor:pointer;
        

    }

    .grid{
        width: 99%;
        display:grid;
    }

    .modos {
        display:grid;
         grid-template-columns:repeat(2,1fr);
         grid-template-rows: repeat(3,2fr);
         grid-template-areas:  
        "unovsuno unovsuno"
        "dosvsdos tresvstres"
        "dosvsdos cuatrovscuatro";}
    

        .modos .modo1{
            grid-area:unovsuno;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            padding: 30px 
        }
        .modos .modo1 img
            {width: 40%;
            border-radius: 10px;}

        .modos .modo1 p{
            padding-left: 1em;
            width: 50%;
            color: rgb(80, 61, 159);
            font-size: 2em;}

            
        .modos .modo2{
            grid-area: dosvsdos;
            display: flex;
            flex-direction:column;
            justify-content: left;
            align-items: left;
            padding: 30px;
            
            
           
        }
        .modos .modo2 img
            {width: 100%;
            border-radius: 10px;}
        
        .modos .modo2 p{
            padding-top: 10px;
            width:100%;
            color: rgb(80, 61, 159);
            font-size: 2em;}

        .modos .modo3{

            grid-area: tresvstres;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px
            
        }
        .modos .modo3 img {
            width: 100%;
            border-radius: 10px;}
        
            .modos .modo3 p{
            padding-top: 10px;
            width:100%;
            color: rgb(80, 61, 159);
            font-size: 2em
            
            }

        .modos .modo4{
            grid-area: cuatrovscuatro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px
           
           
        }
        .modos .modo4 img
            {width: 100%;
            border-radius: 10px;}
        .modos .modo4 p{
            padding-top: 10px;
            width:100%;
            color: rgb(80, 61, 159);
            font-size: 2em
            }

        

    
    footer{
        background-color:  rgb(20, 69, 102);
        padding: 10px 30px;
        display:flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;}
    footer ul{list-style:none;
        display:flex;
        flex-direction: column;
        color: aquamarine;}
    footer ul li:hover{
            background-color: rgb(83, 197, 189);
            cursor:pointer;}

    footer a{ text-decoration: none;
}
    footer svg {
        fill: aqua;
        margin-left: 10px;
    }

@media (width < 768px) {
        .rocket-welcome{
        width: 100%;  
    }
        
        .modos {
             grid-template-columns:1fr;
             grid-template-rows: repeat(4,30%);
             grid-template-areas:  
            "unovsuno"
            "dosvsdos"
            "tresvstres"
            "cuatrovscuatro";}

            .modos .modo1{
                flex-direction: column;
                justify-content:left ;
                align-items: left;
               

            }
            .modos .modo1 img{width: 100%;}
            .modos .modo1 p{
                width: 100%;
                padding-left:0;
            }
        
        
        .nueva-temp{
            flex-direction: column;
            align-items:center;}
        .nueva-temp figure{
             width: 100%;
             align-items:center;
        }
 .nav-estilo img{
            width: 15em;
            border-radius: 10px;}
}
   

 @media (width < 400px){

         .rocket-welcome p {
             color: rgb(40, 37, 101);
             font-weight:100;
             font-size: 20px;}

        h1, h2, h3 {
            font-size: 20px;
            font-weight:bold
        }
        .modos .modo1 {
        
            padding: 10px }

            .modos .modo1 img
            {width: 100%}
        
            .modos .modo1 p{
            font-size: 20px
        }
        .modos .modo2{
            padding: 10px; }
            .modos .modo2 img
            {width: 100%}
            .modos .modo2 p{
                font-size: 20px}
        
        .modos .modo3{
             padding: 10px; }
            .modos .modo3 img
            {width: 100%}
            .modos .modo3 p{
            font-size: 20px}

        .modos .modo4{
            padding: 10px; }
            .modos .modo4 img
            {width: 100%}
            .modos .modo4 p{
             font-size: 20px}


.nueva-temp{
        flex-direction: column;
        align-items:center;
        
             }
             .nueva-temp figure{
                width: 100%;
                align-items:center;
        }
        
.nav-estilo img{
            width: 15em;
            border-radius: 10px;}
}